:root {
  --colour-grey-l: #f9fafb;
  --colour-grey-m: #6b7280;
  --colour-grey-d: #1f2937;
}

* {
  box-sizing: border-box;
}

/* Menu Defaults */
.men {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;

  background: var(--colour-grey-l);
  font-size: 1rem;
}

/* Item Defaults */
.men__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 6vh;
  padding: 14px 0;
}

/* Title Defaults */
.men__title {
  color: var(--colour-grey-m);
  font-size: 12px;
  font-family: sans-serif;
  white-space: nowrap;
}

/* Item Active */
.men__item.--active {
  padding-bottom: calc(14px - 3px);
  border-bottom: 3px solid var(--colour-grey-d);
}

/* Title Active */
.men__item.--active .men__title {
  color: var(--colour-grey-d);
  font-weight: bold;
}
