:root {
  --colour-grey-l: #f9fafb;
  --colour-grey-m: #6b7280;
  --colour-grey-d: #1f2937;

  --padding-y: 14px;
  --padding-x: 20px;
}

* {
  box-sizing: border-box;
}

/* Menu Defaults */
.men {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-left: 5vw;
  padding-right: 5vw;
  width: 100vw;

  background: var(--colour-grey-l);
  font-size: 1rem;
}

/* Item Defaults */
.men__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 6vh;
  padding: var(--padding-y) var(--padding-x);
}

/* Title Defaults */
.men__title {
  color: var(--colour-grey-m);
  font-size: 2.4rem;
  font-family: sans-serif;
  white-space: nowrap;
}

/* Item Active */
.men__item.--active {
  padding-bottom: calc(var(--padding-y) - 8px);
  border-bottom: 8px solid var(--colour-grey-d);
}

/* Title Active */
.men__item.--active .men__title {
  color: var(--colour-grey-d);
  font-weight: bold;
}

